<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Smart Smoothie Selector</h5>
        <p class="grey-text text-lighten-4">We are doing this side project on our spare time, if you want to be part of the aventure, use the contact form (designer especially we'll be welcome).</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Contact Form</h5>
        <ul>
          <li><a class="white-text" href="#form/idea">Ideas :) or bug :(</a></li>
          <li><a class="white-text" href="#form/hire">Hire Me</a></li>
          <li><a class="white-text" href="#form/tech">What make this project work</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Be part of this</h5>
        <ul>
          <li><a class="white-text" href="#form/join">Send me a request</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="brown-text text-lighten-3" href="https://github.com/bastien-m/">B.Mercier</a>
    <div class="right">
      <a class="brown-text text-lighten-3" href="#term">Terms</a>
    </div>
    </div>
  </div>
</footer>
