<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Smoothie Search Engine</h1>
      <div class="row center">
        <a href="#signup" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Subscribe</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="../img/background2.png" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">search</i></h2>
          <h5 class="center">Quickly find smoothies</h5>

          <p class="light">Just type in a list of fruits and we will answer you with a list
          of all the possible smoothies you can make using the fruits you selected, with recipes,
          duration, taste rate.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Comments</h5>

          <p class="light">Try recipes and gives us feedback, you can comment a smoothie, improve the recipes by giving tips instantly available to the community.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">stay_primary_portrait</i></h2>
          <h5 class="center">Soon on smartphone</h5>

          <p class="light">We are working on a Smart Smoothie Selector smartphone application. Embed your favorite smoothie everywhere with your smartphone. At a party, during dinner, make a smoothie according to your fruits and friends tastes.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Fruits are benefit for healthy, go on and start making smoothie using our app</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../img/background1.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">We would really appreciate your feedback. If you have anny suggestion of a new feature, want to report a bug or just thank us, use the contact form. We will do our best to implement everything we'll find useful for the community.</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Thank you for using our app, enjoy it, share it with your friends, add smoothie recipe and treat yourself</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../img/background3.jpg" alt="Unsplashed background img 3"></div>
</div>
